*{
    margin:0%;
    padding: 0;

}
.logo{
    text-align: center;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(223, 195, 159);
}
.main{
    width: 100%;
    background: linear-gradient(to top , rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    float:left;
    background-position: center;
    background-size: cover;
    height: 109vh;

}
ul{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
  padding-right: 90px;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 20px;
        
}
ul li a{
     text-decoration: none;
     color:wheat;
     font-family: Arial;
     font-weight: bold;
     transition: 0.4s ease-in-out;
     
}

ul li a:hover{
    color: darkgray;

}

pre{
    text-decoration: none;
    color: rgba(174, 190, 21, 0.925);
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    background: linear-gradient(to top , rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;

}

table{
    color: aliceblue;
    margin-top: 100px;
    float: right;
    padding-top: 40px;
    padding: 20px;
    border-radius: 20px;
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    
     
}

.foodmenu{

    border: 10px;
    border-radius: 25px;
    background-color: rgb(128, 84, 4);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
    padding-top: 20px;
}

p{
    padding: 10px;
    margin-top: 20px;
}

/* .icon a{
    text-decoration: none;
    color: white;
} */

#aa{
    text-decoration: none;
    color: black;
}

